#holdmap {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#map_canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: center center;
    background-color: #f7eaea;
}