.idea
.idea/*
.DS_Store
.trieschnigg

.vvb

*.bak

vvbdumps
vvbdumps/*

includes
includes/*

html/db.ini.server.ini
k8s/deployment.yml
html/files/*
!html/files/README.md

html/application/logs/errors.log
